body {
    margin: 40px;
}

#tweets {
    margin-left: 0;
}

#tweets li {
    list-style-type: none;
    padding: 10px 0 0 10px;
    border-bottom: 1px dashed;
    width: 70%;
}

#tweets li a .data {
    display: none;
}